In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\ayaan\OneDrive\Desktop\Crime Rate Analysis Across Countries\hci_crime_752_pl_co_re_ca_2000-2013_21oct15-ada.csv")

C:\Users\ayaan\AppData\Local\Temp\ipykernel_6284\4176615863.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\ayaan\OneDrive\Desktop\Crime Rate Analysis Across Countries\hci_crime_752_pl_co_re_ca_2000-2013_21oct15-ada.csv")

In [4]:
df.dropna(axis=1, how='all', inplace=True)
df.dropna(axis=0, how='all', inplace=True)

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.columns = df.columns.str.strip().str.lower()

In [7]:
columns_to_drop = ['source', 'notes', 'unit_of_measure', 'indicator_id']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns], errors='ignore')

In [8]:
df = df[df['dof_population'] > 0]

In [9]:
df.reset_index(drop=True, inplace=True)

In [10]:
df.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population,version
0,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
1,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
2,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
3,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
4,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,6.217499,6.190935,6.244063,0.013553,0.217985,NaN,1.0,33873086.0,10/21/2015

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38544 entries, 0 to 38543
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ind_id                  38544 non-null  object
 1   ind_definition          38544 non-null  object
 2   reportyear              38544 non-null  float64
 3   race_eth_code           38544 non-null  float64
 4   race_eth_name           38544 non-null  object
 5   geotype                 38544 non-null  object
 6   geotypevalue            38544 non-null  float64
 7   geoname                 38544 non-null  object
 8   county_fips             37494 non-null  float64
 9   county_name             37494 non-null  object
 10  region_code             38474 non-null  float64
 11  region_name             38474 non-null  object
 12  strata_name_code        38544 non-null  float64
 13  strata_name             38544 non-null  object
 14  strata_level_name_code  38544 non-null  float64
 15  strata_level_name       38544 non-null  object
 16  numerator               32159 non-null  float64
 17  denominator             36815 non-null  float64
 18  rate                    7273 non-null   float64
 19  ll_95ci                 7273 non-null   float64
 20  ul_95ci                 7273 non-null   float64
 21  se                      7273 non-null   float64
 22  rse                     7273 non-null   float64
 23  ca_decile               6251 non-null   float64
 24  ca_rr                   7273 non-null   float64
 25  dof_population          38544 non-null  float64
 26  version                 38544 non-null  object
dtypes: float64(17), object(10)
memory usage: 7.9+ MB

In [12]:
df.isnull().sum()

ind_id                        0
ind_definition                0
reportyear                    0
race_eth_code                 0
race_eth_name                 0
geotype                       0
geotypevalue                  0
geoname                       0
county_fips                1050
county_name                1050
region_code                  70
region_name                  70
strata_name_code              0
strata_name                   0
strata_level_name_code        0
strata_level_name             0
numerator                  6385
denominator                1729
rate                      31271
ll_95ci                   31271
ul_95ci                   31271
se                        31271
rse                       31271
ca_decile                 32293
ca_rr                     31271
dof_population                0
version                       0
dtype: int64

In [ ]:
sns.heatmap(df.isnull(), yticklabels=False, annot=True)
plt.show()

In [ ]:
df = df.dropna()

In [ ]:
df.info()

In [ ]:
df.interpolate()

In [ ]:
df_dropped = df.dropna()

In [ ]:
df_dropped

In [ ]:
df['reportyear'] = pd.to_numeric(df['reportyear'], errors='coerce')
df['numerator'] = pd.to_numeric(df['numerator'], errors='coerce')
df['dof_population'] = pd.to_numeric(df['dof_population'], errors='coerce')

In [ ]:
df['crime_rate_per_100k'] = (df['numerator'] / df['dof_population']) * 100000

In [ ]:
df = df.dropna(subset=['reportyear', 'numerator', 'dof_population'])

In [ ]:
sns.set(style="whitegrid")

In [ ]:
plt.figure(figsize=(10, 5))
yearly = df.groupby('reportyear')['numerator'].sum().reset_index()
sns.lineplot(data=yearly, x='reportyear', y='numerator', marker='o')
plt.title("Total Number of Crimes Reported Over the Years")
plt.xlabel("Year")
plt.ylabel("Number of Crimes")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
crime_type = df.groupby('strata_name_2')['numerator'].sum().sort_values(ascending=False).head(10)
plt.figure(figsize=(10, 6))
sns.barplot(x=crime_type.values, y=crime_type.index, palette="Reds_r")
plt.title("Top 10 Crime Types")
plt.xlabel("Total Crimes")
plt.ylabel("Crime Type")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
county_rate = df.groupby('county_name')['crime_rate_per_100k'].mean().sort_values(ascending=False).head(10)
sns.barplot(x=county_rate.values, y=county_rate.index, palette="Blues_d")
plt.title("Top 10 Counties by Average Crime Rate per 100k")
plt.xlabel("Average Crime Rate")
plt.ylabel("County")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(8, 5))
sns.histplot(df['crime_rate_per_100k'], bins=30, kde=True, color='purple')
plt.title("Distribution of Crime Rates per 100k Population")
plt.xlabel("Crime Rate per 100k")
plt.ylabel("Frequency")
plt.tight_layout()
plt.show()

In [ ]:
top_crimes = df['strata_name'].value_counts().head(5).index
df_top_crimes = df[df['strata_name'].isin(top_crimes)]

plt.figure(figsize=(12, 6))
sns.lineplot(data=df_top_crimes, x='reportyear', y='numerator', hue='strata_name', marker='o')
plt.title("Top 5 Crime Types Over Time")
plt.xlabel("Year")
plt.ylabel("Number of Crimes")
plt.legend(title="Crime Type")
plt.tight_layout()
plt.show()

In [ ]:
idx = df.groupby('county_name')['crime_rate_per_100k'].idxmax()
highest_rate_year = df.loc[idx, ['county_name', 'reportyear', 'crime_rate_per_100k']]
print(highest_rate_year.sort_values(by='crime_rate_per_100k', ascending=False).head(10))